/* main.css */

html, body {
  height: 100%;
  background-color: black;
  color: white;
}

body.canvas {
  margin: 0;
  padding: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

div.fill-screen {
    position: fixed;
    display: flex;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;

}

img.fit-square {
    width: auto;
    height: 100%;
}